*.user
*.vcxproj
*.filters

*.sln

/Sandbox/imgui.ini

/.vs/
/bin/
/bin-int/

/Debug/

/Hazel/vendor/GLFW/
/Hazel/vendor/imgui/
/Hazel/vendor/glm/

/Hazel/vendor/Glad/bin/
/Hazel/vendor/Glad/bin-int/

