*.user
*.vcxproj
*.filters

*.sln

Sandbox/*.json
/Sandbox/imgui.ini

/Hazel-Editor/imgui.ini
/Hazel-Editor/*.json

/.vs/
/bin/
/bin-int/

/Debug/

/Hazel/vendor/GLFW/
/Hazel/vendor/imgui/
/Hazel/vendor/glm/

/Hazel/vendor/Glad/bin/
/Hazel/vendor/Glad/bin-int/

